<p><a class="button" href="/products">Go back</a></p>

<h2>{{product.product_name}}</h2>
<h3>Brand: {{product.brands}}</h3>
<h4>Country of origin: {{product.countries}}</h4>
<h4>Stores: {{product.stores}}</h4>

 {{#if product.nutrient_levels}}
        <h4>Nutrients</h4>
        <ul class="nutrients_list">
            {{#each product.nutrient_levels}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}

<h4>Nutrition grades: {{product.nutrition_grades_tags}}</h4>

<a class="button" href="/product/delete/{{product.id}}">Delete product</a>
<p><a class="button" href="/product/create">Add product</a></p>
<p><a class="button" href="/product/edit">Edit movie</a></p>