{{#extend "stylesheets"}}
<link rel="stylesheet" href="/stylesheets/products.css" />
<link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
{{/extend}}
    

<h1 class="title">Product List</h1>
<div class="product-list">
    {{#each products}}
        <div class="product-list-element">
            <ul class="product-ul">
                <li>
                    <div class="image-div">
                        {{#if this.image_url}}
                            <img class="food-img" src="{{this.image_url}}">
                        {{else}}
                            <img class="food-img" src="/images/wishlist5.png">
                        {{/if}}
                     </div>
                </li>
                <li>
                    <span class="product-name-and-brand">
                        <a href="/product/{{this.product_name}}">
                            <h3 class="name capitalized">
                            {{this.product_name}}
                            </h3>
                        </a>
                    </span>
                <li>
                    <h4 class="brand capitalized">
                        {{this.brands}}
                    </h4>
                </li>
                <li>
                    <a 
                        class="add-wishlist" 
                        href="/add-wishlist/{{this.product_name}}" 
                        type="button"
                    >
                        ❤️
                    </a>
                </li>
                <li>
                    <div>
                        {{#ifCond this.nutrition_grades_tags}}
                            <h4>🤷‍♂️</h4>
                        {{else}}
                            <img 
                                class="nutriscore" 
                                src="/images/nutriscore-{{this.nutrition_grades_tags}}.png"
                            >
                        {{/ifCond}}
                    </div>
                </li>
            </ul>
        </div>
    {{/each}}
</div>
<footer class="footer">
    <p>© Copyright 2019 <a href="/home">Foodie</a>, Inc. Tous droits réservés. </p>
    <img class="logo" src="../images/logo.png">
</footer>