{{#extend "stylesheets"}}
<link rel="stylesheet" href="/stylesheets/product-details.css" />
{{/extend}}

<div class="title">
    <h2 class="capitalized product-name">{{product.product_name}}
        <h4 class="brand capitalized">{{product.brands}}</h4>
    </h2>
</div>

<div class="product-list-element">
    <ul class="product-ul">
        <li>
             <img class="food-img" src="{{image_url}}">
        </li>
        <li>
            <a 
                id="add-wishlist" 
                href="/add-wishlist/{{this._id}}" 
                type="button"
            >
                ❤️
            </a>
        </li>
        <li>
            <h4 class="titles capitalized">
                Stores: {{product.stores}}
            </h4>
        </li>
        <li>
            <h4 class="titles capitalized"></h4>
        </li>
        <li>
            <ul class="repeating-before">
                <li class="nutrients capitalized">
                    Salt: {{product.nutrient_levels.salt}}
                </li>
            </ul>
            <ul class="repeating-before">
                <li class="nutrients capitalized">
                    Sugars: {{product.nutrient_levels.sugars}}
                </li>
            </ul>
            <ul class="repeating-before">
                <li class="nutrients capitalized">
                    Fat: {{product.nutrient_levels.fat}}
                </li>
            </ul>
        </li>
        <li>
            <img 
                class="nutriscore" 
                src="/images/nutriscore-{{this.nutrition_grades_tags}}.png"
            >
        </li>
    </ul>
</div>    
<p>
    <a 
        class="button" 
        href="/product/edit/{{product.product_name}}"
    >
        Edit product
    </a>
</p>
<p>
    <a 
        class="button2" 
        href="/home"
    >
        Go back
    </a>
</p>